*{

 text-align: center;
 


}
body{
    background-color: gray;
    padding: 20px;
}
.person-1{
    display:flex
}
.report-missing{
    font-size: large;
}
.inputNames{
    padding-bottom:30px ;
}
/* #templateDisplay{
    display: list-item;
    
} */
#templateDisplay{
    display: flex;
    background-color: gray;
}
#submit{
    border-radius: 6px;
    background-color:skyblue;
    
}
.table{
    border: 10px;

}

    
